@font-face {
  font-family: "roboto";
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

html {
  font-family: "roboto", sans-serif;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #94949c6e;
  border-radius: 4px;
}

.recentBlogs::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

.recentBlogs::-webkit-scrollbar-thumb {
  background-color: #94949c6e;
  border-radius: 4px;
}

html::-webkit-scrollbar-track-piece:hover {
  border: 0.1px solid rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
main {
  padding: 0;
  min-height: 100vh;
}
header {
  padding-top: 0.3rem;
  z-index: 10;
  top: 0rem;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: rgb(255, 255, 255);
}

nav {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1rem;
  gap: 1rem;
}

nav * {
  cursor: pointer;
  transition-duration: 300ms;
}

footer {
  height: 35px;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  padding-top: 0.8rem;
}

.search:hover,
.darkMode:hover,
.menu:hover,
.random:hover {
  scale: 1.2;
}

.active {
  text-decoration: underline;
}

.hr {
  width: 50%;
}

.logoImg {
  width: 150px;
  margin-left: 1rem;
  transition-duration: 300ms;
}

.logoImg:hover {
  scale: 1.05;
}

.search {
  transform: scale(0.49);
  margin-right: -0.5rem;
  z-index: 2;
}

.random,
.menu {
  transform: scale(0.6);
  z-index: 2;
}

.dropMenu {
  display: none;
  flex-direction: column;
  position: fixed;
  border-radius: 5px;
  cursor: default;
  right: -0.5rem;
  top: 0;
  padding-top: 9rem;
  gap: 1rem;
  border-radius: 10px;
  height: 100vh;
  width: 250px;
  background-color: rgb(252, 252, 252);
  z-index: 1;
}

.dropMenu * {
  font-size: 1.6rem;
  padding-left: 2.5rem;
  padding-bottom: 0.5rem;
  color: rgba(30, 30, 30, 0.727);
}

.dropMenu img {
  width: 12%;
  padding: 1rem;
}

.dropMenu a {
  display: flex;
  align-items: center;
}

.dropMenu *:hover {
  scale: 1.1;
  text-shadow: 0px 5px 5px #bdbdbd;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition-duration: 300ms;
}

.loading {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2000ms linear infinite;
  padding: 2rem;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 6rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.carousel {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(105, 119, 133);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carouselDiv {
  margin-top: 5rem;
}

.h1Index {
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

.h2Index {
  font-size: 1.3rem;
  left: 0rem;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 4rem;
}

.carouselDivs {
  display: flex;
  flex-direction: row;
}

.arrowLeft {
  transition-duration: 300ms;
  cursor: pointer;
  filter: invert(100%);
  left: 1rem;
  transform: scale(0.7);
  z-index: 1;
  object-fit: contain;
}
.arrowRight {
  transform: scale(0.7);
  object-fit: contain;
  transition-duration: 300ms;
  cursor: pointer;
  filter: invert(100%);
  z-index: 1;
}

.arrowLeft:hover,
.arrowRight:hover {
  transform: scale(0.8);
}

.latestDivs {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  z-index: 0;
  display: flex;
  gap: 3rem;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 65vw;
  padding: 0 2rem 2rem 2rem;
  scroll-behavior: smooth;
}

.latestDivs p {
  text-align: center;
  font-size: 1.4rem;
}

.carousel::-webkit-scrollbar,
.carouselDiv::-webkit-scrollbar,
.latestDivs::-webkit-scrollbar,
.carouselDivs::-webkit-scrollbar {
  display: none;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.latestCard {
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
  height: 250px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.631);
  margin: auto;
  transition-duration: 300ms;
  cursor: pointer;
  margin-top: 2rem;
}

.latestCard:hover {
  transform: scale(1.05);
}

.latestImg {
  object-fit: cover;
  height: 180px;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.latestTitle {
  text-align: center;
  font-size: 1.5rem;
}

.latestTitle p {
  margin: 0;
  padding: 0;
}

.blogsH1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.blogsDiv {
  margin: auto;
  padding-right: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: fit-content;
}

.blogDivs {
  margin-bottom: 2rem;
}

.blogDivs h2 {
  text-align: center;
}

.blogTitle {
  text-align: center;
  font-size: clamp(25px, 2.5rem, 5vw);
  margin: 6.5rem 1.5rem 0.5rem 1.5rem;
}

.blogDiv {
  width: 60vw;
  margin: auto;
  padding-right: 300px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.blogDiv p {
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

.blogDiv strong {
  font-size: 1.5rem;
}

.blogDiv figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figure {
  z-index: 2;
  margin: 0;
  max-width: 1000px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(36, 103, 116, 0.511);
  border-radius: 5px;
  border: 10px solid rgb(241, 241, 241);
}

.blogDiv img {
  object-fit: cover;
  transform: scale(1.05);
  max-width: 100%;
  max-height: 300px;
  transition-duration: 500ms;
}

.blogDiv img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.error {
  color: rgba(255, 0, 0, 0.886);
  background-color: rgb(255, 255, 255);
}

.viewMoreDiv {
  padding-right: 300px;
}

.viewMore {
  margin-top: -1rem;
  text-align: center;
  margin: auto;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 0.5rem;
  width: 15rem;
  margin-bottom: 2rem;
  background-color: rgba(110, 182, 255, 0.05);
  border: 1px solid rgba(91, 91, 91, 0.672);
  box-shadow: 0px 3px 5px 0px rgba(63, 103, 111, 0.2);
}

.marsImg {
  width: 50%;
}

.imgPopupBG {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(74, 74, 74, 0.685);
  display: none;
  align-items: center;
  justify-content: center;
}

.imgPopup {
  border: 10px solid rgb(241, 241, 241);
  z-index: 100;
  max-width: 90vw;
  max-height: 85vh;
  object-fit: cover;
  position: fixed;
  border-radius: 20px;
}

.blogsRecent {
  display: flex;
}

.blogsDivs {
  margin-top: 6rem;
}

.recentBlogs {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  height: 62vh;
  max-height: 70rem;
  position: fixed;
  right: 0.5rem;
  bottom: 1rem;
  border-radius: 8px;
  background-color: rgba(189, 222, 255, 0.07);
  box-shadow: 2px 2px 10px 0px rgba(63, 103, 111, 0.2);
  z-index: 0;
  padding: 1rem 1.5rem 1rem 1.5rem;
  overflow-y: scroll;
}

.recentBlogs h2 {
  font-size: 1rem;
  margin-top: 5vh;
  font-weight: 100;
}

.recentBlogs h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.mainAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutH1 {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 4rem;
}

.aboutUs {
  width: 60vw;
  margin: auto;
  font-size: 1.2rem;
}

.contactUs {
  text-decoration: underline;
  color: rgba(0, 0, 255, 0.492);
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
}

.message,
.name,
.subject,
.email {
  text-align: left;
  width: 300px;
  margin-bottom: 0.3rem;
  padding: 0.5rem;
}

.message::placeholder,
.name::placeholder,
.subject::placeholder,
.email::placeholder {
  padding: 0.2rem;
}

.formError {
  color: red;
  margin-bottom: 1rem;
  opacity: 0;
}

textarea {
  font-family: "roboto", sans-serif;
}

.formSubmit {
  width: 200px;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: rgba(110, 182, 255, 0.05);
  border: 1px solid rgba(91, 91, 91, 0.672);
  box-shadow: 0px 3px 5px 0px rgba(63, 103, 111, 0.2);
  margin-bottom: 1rem;
  cursor: pointer;
}

.noShow {
  display: none;
}

.alsoLike {
  background-color: rgba(189, 222, 255, 0.07);
  box-shadow: 2px 2px 10px 0px rgba(63, 103, 111, 0.2);
  border: none;
  max-height: 65vh;
  width: 270px;
  margin-top: 0.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  right: -3.5rem;
  margin-right: 5vw;
  scale: 0.9;
  overflow-y: scroll;
  border-radius: 10px;
  position: fixed;
}

.alsoLike h1 {
  margin-top: 1.5rem;
}

.alsoLike::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

.alsoLike::-webkit-scrollbar-thumb {
  background-color: #94949c6e;
  border-radius: 4px;
}

.alsoLike::-webkit-scrollbar-track-piece:hover {
  border: 1px solid black;
}

.thankDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
}

.mainThank {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
}

label {
  display: none;
}

.aContact {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  display: inline;
  white-space: nowrap;
}

.blogsImgs {
  border-radius: 5px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition-duration: 500ms;
  transform: scale(1.03);
}

.blogsImgs:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.blogsImgsContainer {
  overflow: hidden;
  border: 10px solid rgb(241, 241, 241);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(36, 103, 116, 0.511);
  margin-bottom: 2rem;
}

@media (min-width: 1900px) {
  .blogDiv {
    padding-right: 0px;
    max-width: 1000px;
  }
}

@media (max-width: 699px) {
  .h1Index {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .h2Index {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 1.5rem;
    font-size: 1.1rem;
  }

  .blogDiv {
    width: 80vw;
    margin: auto;
    padding-right: 0px;
  }

  .recentBlogs {
    display: none;
  }

  .viewMoreDiv {
    padding-right: 0px;
  }

  .blogsDiv {
    padding-left: 0rem;
    padding-right: 0px;
    margin: auto;
    width: 80vw;
  }

  .blogsImgs {
    width: 80vw;
  }

  .aboutUs {
    width: 80vw;
  }

  .arrowLeft,
  .arrowRight {
    scale: 0.8;
    margin-top: 17rem;
    position: absolute;
  }

  .arrowRight {
    right: 0rem;
  }
}

@media (min-width: 699px) and (max-width: 899px) {
  header {
    position: relative;
  }

  .dropMenu {
    padding-top: 6rem;
    gap: 0rem;
  }

  .dropMenu * {
    font-size: 1.4rem;
    padding-bottom: 0rem;
  }

  .dropMenu img {
    width: 11%;
  }

  .carousel {
    margin-top: -5rem;
  }

  .arrowLeft,
  .arrowRight {
    margin-top: 0rem;
    scale: 0.8;
    position: relative;
  }

  .arrowLeft {
    left: 1.5rem;
  }

  .arrowRight {
    right: 1.5rem;
  }

  .blogTitle {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .viewMoreDiv {
    padding-right: 0px;
  }

  .blogDiv {
    padding-right: 0;
    width: 80vw;
    margin: auto;
  }

  .blogsDiv {
    padding-right: 0px;
    margin: auto;
    width: 60vw;
  }

  .recentBlogs {
    display: none;
  }

  .blogsDivs {
    margin-top: 1rem;
  }

  .aboutH1 {
    margin-top: 0rem;
  }

  .mainAbout {
    padding-top: 2rem;
    justify-content: flex-start;
  }

  .h2Index {
    color: rgba(255, 255, 255, 0.6);
  }
}

@media (max-width: 499px) {
  .h1Index {
    margin-top: -5rem;
    margin-bottom: 2rem;
  }

  .arrowLeft,
  .arrowRight {
    scale: 1;
    margin-top: 20rem;
    position: absolute;
  }

  .aboutH1 {
    margin-top: 8rem;
  }

  .blogDiv {
    padding-right: 0px;
  }

  .h2Index {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 1.5rem;
    font-size: 1.1rem;
  }
}
