html::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #94949c6e;
  border-radius: 4px;
}

html::-webkit-scrollbar-track-piece:hover {
  border: 1px solid black;
}

body {
  margin: 0;
  padding: 0;
}
main {
  margin-top: 7.2rem;
  padding: 0;
  min-height: 74.1vh;
}
header {
  z-index: 10;
  top: 0rem;
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: rgb(255, 255, 255);
}

nav {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1rem;
  gap: 1rem;
}

nav * {
  cursor: pointer;
  transition-duration: 300ms;
}

footer {
  right: 0;
  left: 0;
  text-align: center;
  bottom: 1rem;
  margin-top: auto;
  margin-bottom: 1rem;
}

.search:hover,
.darkMode:hover,
.menu:hover,
.random:hover {
  scale: 1.2;
}

.logoImg {
  scale: 0.5;
  margin-left: -2rem;
  transition-duration: 300ms;
}

.logoImg:hover {
  scale: 0.53;
}

.search {
  transform: scale(0.49);
  margin-right: -0.5rem;
  z-index: 2;
}

.random,
.menu {
  transform: scale(0.6);
  z-index: 2;
}

.carousel {
  margin-top: 7.2rem;
  width: 100vw;
  height: 70vh;
  background-color: blue;
}

.dropMenu {
  display: none;
  flex-direction: column;
  position: fixed;
  border-radius: 5px;
  cursor: default;
  right: -0.5rem;
  top: 0;
  padding-top: 9rem;
  gap: 1rem;
  border-radius: 10px;
  height: 100vh;
  width: 250px;
  background-color: rgb(252, 252, 252);
  z-index: 1;
}

.dropMenu * {
  font-size: 1.6rem;
  padding-left: 3rem;
  padding-bottom: 0.5rem;
  color: rgba(30, 30, 30, 0.727);
}

.dropMenu img {
  width: 12%;
  padding: 1rem;
}

.dropMenu a {
  display: flex;
  align-items: center;
}

.dropMenu *:hover {
  scale: 1.1;
  text-shadow: 0px 5px 5px #bdbdbd;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition-duration: 300ms;
}

.loading {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2000ms linear infinite;
  padding: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blogsH1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.blogsDiv {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 9rem;
  width: 90vw;
  height: fit-content;
}

.blogDivs {
  margin-bottom: 2rem;
}

.blogTitle {
  text-align: center;
  font-size: clamp(25px, 2.5rem, 5vw);
  margin-bottom: 3rem;
}

.blogDiv {
  width: 50vw;
  padding-right: 40vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 1.5rem;
}

figure {
  z-index: 2;
  margin: 0;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(36, 103, 116, 0.511);
  border-radius: 5px;
  border: 10px solid rgb(241, 241, 241);
}

.blogDiv img {
  object-fit: cover;
  transform: scale(1.05);
  max-width: 100%;
  max-height: 300px;
  transition-duration: 500ms;
}

.blogDiv img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.error {
  color: rgba(255, 0, 0, 0.886);
  background-color: rgb(255, 255, 255);
}

.viewMore {
  margin-left: 2rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.marsImg {
  width: 50%;
}

.imgPopupBG {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: rgba(74, 74, 74, 0.685);
  display: none;
  align-items: center;
  justify-content: center;
}

.imgPopup {
  border: 10px solid rgb(241, 241, 241);
  z-index: 100;
  max-width: 90vw;
  max-height: 85vh;
  object-fit: cover;
  position: fixed;
  border-radius: 20px;
}
